{{ ansible_managed | comment }}

map {{ item.value.source }} $map_{{ item.key }} {
{% if item.value.hostnames | default(false) %}
    hostnames;

{% endif %}
{% for key, value in item.value['values'].items() %}
    {{ (key == 'default') | ternary(key, '"%s"' | format(key)) }} "{{ value }}";
{% endfor %}
}
